<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author._id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.html', { url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
    <h2 class="page-header">Books By Author</h2>
    <div>
        <!-- ESTO LO CONVIERTO DE MODO QUE LO PUEDA USAR COMO PARTIAL EN LA PARTIDA DE ABAJO SE VERA
        <% booksByAuthor.forEach(book => { %>
            <a href="/books/<%= book.id %>">
                <img height="150" width="100" src="<%= book.coverImagePath %>">
            </a>
        <% }) %>
        -->
        <%- include('../partials/bookGrid.html', { books: booksByAuthor }) %>
    </div>
<% } %>