<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>/edit?_method=PUT" method="POST"> <!--enctype="multipart/form-data"> --> <!--PARA PODER USAR MULTER DEBO COLOCAR LO SIGUIENTE-->
    <%- include('form-field-book.html') %>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Update</button>
        <a class="btn btn-danger" href="/books">Cancel</a>
    </div>
</form> <!--QUITO EL MUTILPART YA QUE CON FILEPOND EL PLUGIN DE FILE ENCODE ME PERMITE REPRESENTAR LA IMAGEN COMO JSON BASE 64 YA NO SE NECESITA MULTER-->