<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ADD CSS FILEPOND CDN-->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <!--ADD IMAGE PREVIEW FROM FILEPOND-->
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <!--ADD SCRIPT IMAGE PREVIEW PLUGGIN FROM FILEFOND-->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <!--ADD SCRIPT FILE ENCODE PLUGIN FROM FILEPOND-->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <!--ADD SCRIP IMAGE RESIZE FROM FILEPOND-->
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <!--ADDING SCRIPTS FILEPOND CDN-->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script> <!--COLOCO DEFER PARA QUE CARGE EL SCRIPT UNA VEZ QUE EL HTML HAYA CARGADO-->
    <!--ADD OWN JAVASCRIPTS FOR DOM-->
    <script defer src="/js/fileUpload.js"></script>
    <!--ADDING OWN CSS-->
    <link id="main-css" rel="stylesheet" href="/css/main.css">
    <title>Mybrary</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.html') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage.html') %>
            <%- body %> <!--AQUI VA A IR TODO MI CODIDO QUE LO IMPORTO ESTA SERA MI PLANTILLA PINCIPAL-->
        </div>
    </div>
</body>
</html>